/* Hello */

:root {
  /* Section */

  --section-padding: var(--space-m);
  --section-gap: var(--space-m);

  /* Wrap */

  --wrap-max-width: 75rem;
  --wrap-gap: var(--space-l);
  --wrap-inner-padding: var(--space-m);

  /* Radius */

  --radius-button: var(--space-s);
  --radius-surface: var(--space-m);

  /* Icon */

  --icon-size-default: var(--space-l);
  --icon-color-default: var(--empty);
}

/* Global Responsive Queries */

/* Section */

@media only screen and (max-width: 769px) {
  :root {
    --section-padding: var(--space-m) var(--space-m) var(--space-m)
      var(--space-m);
    --section-gap: var(--space-m);
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --section-padding: var(--space-xs) var(--space-xs) var(--space-xs)
      var(--space-xs);
    --section-gap: var(--space-xs);
  }
}

/* Wrap */

@media only screen and (max-width: 769px) {
  .wrap {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    --wrap-gap: var(--space-m);
    --wrap-inner-padding: var(--space-xs);
  }
}
