:root {
  /* Section */

  --section-padding: var(--space-m);
  --section-padding-tablet: var(--space-s);
  --section-padding-mobile: var(--space-xs);
  --section-gap: var(--space-m);
  --section-gap-tablet: var(--space-s);
  --section-gap-mobile: var(--space-xs);

  /* Wrap */

  --wrap-max-width: 75rem;
  --wrap-inner-padding: var(--space-m);
  --wrap-inner-padding-tablet: var(--space-m);
  --wrap-inner-padding-mobile: var(--space-s);
  --wrap-gap: var(--space-m);
  --wrap-gap-tablet: var(--space-m);
  --wrap-gap-mobile: var(--space-s);

  /* Radius */

  --radius-button: var(--space-s);
  --radius-surface: var(--space-m);

  /* Icon */

  --icon-size-default: var(--space-l);

  --icon-size-s: var(--space-s);
  --icon-size-m: var(--space-m);
  --icon-size-l: var(--space-l);
  --icon-size-xl: var(--space-xl);
}

/* Global Reset */

* {
  margin: var(--reset);
  padding: var(--reset);
  box-sizing: border-box;
}

/* Body & Elements */

body {
  font-family: var(--font);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

/* Global Media Queries */

/* Section */

@media only screen and (max-width: 769px) {
  :root {
    --section-padding: var(--section-padding-tablet);
    --section-gap: var(--section-gap-tablet);
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --section-padding: var(--section-padding-mobile);
    --section-gap: var(--section-gap-mobile);
  }
}

/* Wrap */

@media only screen and (max-width: 769px) {
  :root {
    --wrap-inner-padding: var(--wrap-inner-padding-tablet);
    --wrap-gap: var(--wrap-gap-tablet);
  }
  .wrap {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    --wrap-inner-padding: var(--wrap-inner-padding-mobile);
    --wrap-gap: var(--wrap-gap-mobile);
  }
}
