@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  /* Typography */

  --font: 'Inter', sans-serif;

  /* Typography (Fluid) */

  --text-size-xs: clamp(0.8rem, calc(0.84rem + -0.06vw), 0.83rem);
  --text-size-s: clamp(1rem, calc(1rem + 0vw), 1rem);
  --text-size-n: clamp(1.2rem, calc(1.18rem + 0.09vw), 1.25rem);
  --text-size-m: clamp(1.44rem, calc(1.4rem + 0.21vw), 1.56rem);
  --text-size-l: clamp(1.73rem, calc(1.65rem + 0.39vw), 1.95rem);
  --text-size-xl: clamp(2.07rem, calc(1.95rem + 0.64vw), 2.44rem);
  --text-size-2xl: clamp(2.49rem, calc(2.29rem + 0.98vw), 3.05rem);
  --text-size-3xl: clamp(2.99rem, calc(2.7rem + 1.44vw), 3.82rem);

  /* Spacing (Static) */

  --space-3xs: 0.25rem;
  --space-2xs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 6rem;

  /* Spacing (Fluid) */

  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.5rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.41rem + 0.43vw), 0.75rem);
  --space-xs-s: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
  --space-s-m: clamp(1rem, calc(0.83rem + 0.87vw), 1.5rem);
  --space-m-l: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --space-l-xl: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  --space-xl-2xl: clamp(3rem, calc(2.65rem + 1.74vw), 4rem);
  --space-2xl-3xl: clamp(4rem, calc(3.3rem + 3.48vw), 6rem);

  /* Elevation */

  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --text-elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --text-elevation-2: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --text-elevation-3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
  --text-elevation-4: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.15);
  --text-elevation-5: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.15);

  /* Transitions */

  --transition-all-default: all 0.236s linear;

  /* Reset */

  --reset: 0 0 0 0;

  /* Color */

  --md-source: #6750a4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #21005d;
  --md-ref-palette-primary20: #381e72;
  --md-ref-palette-primary30: #4f378b;
  --md-ref-palette-primary40: #6750a4;
  --md-ref-palette-primary50: #7f67be;
  --md-ref-palette-primary60: #9a82db;
  --md-ref-palette-primary70: #b69df8;
  --md-ref-palette-primary80: #d0bcff;
  --md-ref-palette-primary90: #eaddff;
  --md-ref-palette-primary95: #f6edff;
  --md-ref-palette-primary99: #fffbfe;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #1d192b;
  --md-ref-palette-secondary20: #332d41;
  --md-ref-palette-secondary30: #4a4458;
  --md-ref-palette-secondary40: #625b71;
  --md-ref-palette-secondary50: #7a7289;
  --md-ref-palette-secondary60: #958da5;
  --md-ref-palette-secondary70: #b0a7c0;
  --md-ref-palette-secondary80: #ccc2dc;
  --md-ref-palette-secondary90: #e8def8;
  --md-ref-palette-secondary95: #f6edff;
  --md-ref-palette-secondary99: #fffbfe;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #31111d;
  --md-ref-palette-tertiary20: #492532;
  --md-ref-palette-tertiary30: #633b48;
  --md-ref-palette-tertiary40: #7d5260;
  --md-ref-palette-tertiary50: #986977;
  --md-ref-palette-tertiary60: #b58392;
  --md-ref-palette-tertiary70: #d29dac;
  --md-ref-palette-tertiary80: #efb8c8;
  --md-ref-palette-tertiary90: #ffd8e4;
  --md-ref-palette-tertiary95: #ffecf1;
  --md-ref-palette-tertiary99: #fffbfa;
  --md-ref-palette-tertiary100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410e0b;
  --md-ref-palette-error20: #601410;
  --md-ref-palette-error30: #8c1d18;
  --md-ref-palette-error40: #b3261e;
  --md-ref-palette-error50: #dc362e;
  --md-ref-palette-error60: #e46962;
  --md-ref-palette-error70: #ec928e;
  --md-ref-palette-error80: #f2b8b5;
  --md-ref-palette-error90: #f9dedc;
  --md-ref-palette-error95: #fceeee;
  --md-ref-palette-error99: #fffbf9;
  --md-ref-palette-error100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1c1b1f;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral30: #484649;
  --md-ref-palette-neutral40: #605d62;
  --md-ref-palette-neutral50: #787579;
  --md-ref-palette-neutral60: #939094;
  --md-ref-palette-neutral70: #aeaaae;
  --md-ref-palette-neutral80: #c9c5ca;
  --md-ref-palette-neutral90: #e6e1e5;
  --md-ref-palette-neutral95: #f4eff4;
  --md-ref-palette-neutral99: #fffbfe;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1d1a22;
  --md-ref-palette-neutral-variant20: #322f37;
  --md-ref-palette-neutral-variant30: #49454f;
  --md-ref-palette-neutral-variant40: #605d66;
  --md-ref-palette-neutral-variant50: #79747e;
  --md-ref-palette-neutral-variant60: #938f99;
  --md-ref-palette-neutral-variant70: #aea9b4;
  --md-ref-palette-neutral-variant80: #cac4d0;
  --md-ref-palette-neutral-variant90: #e7e0ec;
  --md-ref-palette-neutral-variant95: #f5eefa;
  --md-ref-palette-neutral-variant99: #fffbfe;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #6750a4;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #eaddff;
  --md-sys-color-on-primary-container-light: #21005d;
  --md-sys-color-secondary-light: #625b71;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e8def8;
  --md-sys-color-on-secondary-container-light: #1d192b;
  --md-sys-color-tertiary-light: #7d5260;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd8e4;
  --md-sys-color-on-tertiary-container-light: #31111d;
  --md-sys-color-error-light: #b3261e;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #f9dedc;
  --md-sys-color-on-error-container-light: #410e0b;
  --md-sys-color-outline-light: #79747e;
  --md-sys-color-background-light: #fffbfe;
  --md-sys-color-on-background-light: #1c1b1f;
  --md-sys-color-surface-light: #fffbfe;
  --md-sys-color-on-surface-light: #1c1b1f;
  --md-sys-color-surface-variant-light: #e7e0ec;
  --md-sys-color-on-surface-variant-light: #49454f;
  --md-sys-color-inverse-surface-light: #313033;
  --md-sys-color-inverse-on-surface-light: #f4eff4;
  --md-sys-color-inverse-primary-light: #d0bcff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #6750a4;
  --md-sys-color-outline-variant-light: #cac4d0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #d0bcff;
  --md-sys-color-on-primary-dark: #381e72;
  --md-sys-color-primary-container-dark: #4f378b;
  --md-sys-color-on-primary-container-dark: #eaddff;
  --md-sys-color-secondary-dark: #ccc2dc;
  --md-sys-color-on-secondary-dark: #332d41;
  --md-sys-color-secondary-container-dark: #4a4458;
  --md-sys-color-on-secondary-container-dark: #e8def8;
  --md-sys-color-tertiary-dark: #efb8c8;
  --md-sys-color-on-tertiary-dark: #492532;
  --md-sys-color-tertiary-container-dark: #633b48;
  --md-sys-color-on-tertiary-container-dark: #ffd8e4;
  --md-sys-color-error-dark: #f2b8b5;
  --md-sys-color-on-error-dark: #601410;
  --md-sys-color-error-container-dark: #8c1d18;
  --md-sys-color-on-error-container-dark: #f9dedc;
  --md-sys-color-outline-dark: #938f99;
  --md-sys-color-background-dark: #1c1b1f;
  --md-sys-color-on-background-dark: #e6e1e5;
  --md-sys-color-surface-dark: #1c1b1f;
  --md-sys-color-on-surface-dark: #e6e1e5;
  --md-sys-color-surface-variant-dark: #49454f;
  --md-sys-color-on-surface-variant-dark: #cac4d0;
  --md-sys-color-inverse-surface-dark: #e6e1e5;
  --md-sys-color-inverse-on-surface-dark: #313033;
  --md-sys-color-inverse-primary-dark: #6750a4;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #d0bcff;
  --md-sys-color-outline-variant-dark: #49454f;
  --md-sys-color-scrim-dark: #000000;
}
